<!DOCTYPE html>
<html>
    <head>
        <title>Product Display</title>
    </head>
    <body>
        {% if error %}
            <h3 style="color: red;">{{ error }}</h3>
        {% endif %}

        {% if products %}
        <table border="1">
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Category</th>
                <th>Price</th>
            </tr>
            {% for p in products %}
            <tr>
                <td>{{ p.id }}</td>
                <td>{{ p.name }}</td>
                <td>{{ p.category }}</td>
                <td>{{ p.price }}</td>
            </tr>
            {% endfor %}
        </table>
        {% endif %}
    </body>
</html>
